<!DOCTYPE html>
<html lang="en">
<head>

	<title>Finance Tracker increase balance</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>

	<div class="jumbotron text-center">
		<h1>Finance Tracker increase balance</h1>
		<h3>Welcome <%= user.fullname %></h3><%= user.email %> <a href="/logout"> logout</a> 
		<p><a href="/profile">Back to my profile</a></p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Increase balance</h3>
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<p>Increase your balance here</p>
							<form action="/increaseBal" method="post">
								<input type="hidden" name="_id" value="<%= user._id %>">
								<div class="row form-group input_group">
									<div class="col-sm-12">
										Current Balance = <input type="number" id="value1" class="form-control" name="value1" value="<%= user.balance %>" step="0.01"  disabled/>
									</div>
								</div>
								<div class="row form-group input_group">
									<div class="col-sm-12">
										Value to add to balance <input type="number" id="value2" name="value2" class="form-control" placeholder="Increase value" step="0.01" pattern="(\d{3})([\.])(\d{2})" required/>
									</div>
								</div>
								<div class="row form-group input_group">
									<div class="col-sm-12">
										Description of increase <input type="string" id="incDesc" name="incDesc" class="form-control" placeholder="Increase Description" />
									</div>
								</div>
								<div class="row form-group input_group">	
									<div class="col-sm-12">
										<input type="submit" id="increase" class="form-control btn btn-primary" name="increase" value="Add to balance" onclick="addNumbers(), increaseConfirm()"/>

									</div>
								</div>
								<div class="row form-group input_group" hidden="true">
									<div class="col-sm-12">
										Answer = <input type="number" id="newBalance" name="newBalance" class="form-control" value="£" step="0.01" disabled />
									</div>
								</div>
							</form>
						</div>


						<div class="col-sm-6">
							<p>Calculator to help you with bulk increases</p>
							<form action="/increaseBal" method="post">
								<input type="hidden" name="_id" value="<%= user._id %>">
								<div class="row form-group input_group">
									<div class="col-sm-12">
										Increase Value 1 = <input type="number" id="calc1" name="calc1" class="form-control" placeholder="Increase value" value=0 step="0.01"  />
									</div>
								</div>
								<div class="row form-group input_group">	
									<div class="col-sm-12">
										<input type="submit" id="calcSumBtn" class="form-control btn btn-primary" name="calcSum" value="Calculate totals" onclick="calcNumbers()"/>
									</div>
								</div>
								<div class="row form-group input_group">
									<div class="col-sm-12">
										Total Calculated = <input type="number" id="calcSum" name="calcSum" class="form-control" value="0" step="0.01" disabled />
									</div>
								</div>
								<div class="row form-group input_group">
									<div class="col-sm-12">
										<input type="reset" class="form-control btn btn-primary">
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

			<script>
			//Function to add the current balance with the new value inputted.
				function addNumbers()
				{
					var val1 = parseFloat(document.getElementById("value1").value);
					var val2 = parseFloat(document.getElementById("value2").value);
					var newBal = document.getElementById("newBalance");
					newBal.value = val1 + val2;
					return newBal;
				}

				//confirms that the increase value has been added to the balance
				function increaseConfirm() {
					var val = parseFloat(document.getElementById("value2").value);
					alert("Balance increased by: £" + val);
				}

				//function to operate the calculator
				function calcNumbers(){
					var calc1 = parseFloat(document.getElementById("calc1").value);
					var calcSum = document.getElementById("calcSum");
					var tempAns = parseFloat(document.getElementById("calcSum").value);


					calcSum.value = tempAns + calc1;
					return calcSum;
				}
			</script>
		</div>
	</div>
</div>
</body>


</html>